<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=
		, initial-scale=1.0" />
		<title>详情页面</title>
		<link rel="stylesheet" href="stylesheets/detail.css">
	</head>
	<body>
		<div class="head">
			<div class="leftbar">
				<a href="javascript:;">推荐</a>
				<a href="javascript:;">热点</a>
				<a href="javascript:;">视屏</a>
				<a href="javascript:;">图片</a>
				<a href="javascript:;">段子</a>
				<a href="javascript:;">社会</a>
				<a href="javascript:;">娱乐</a>
				<a href="javascript:;">科技</a>
				<a href="javascript:;">汽车</a>
				<a href="javascript:;">体育</a>
				<a href="javascript:;">财经</a>
				<a href="javascript:;">军事</a>
				<a href="javascript:;">国际</a>
				<a href="javascript:;">时尚</a>
				<a href="javascript:;">旅游</a>
				<a href="javascript:;">更多</a>
			</div>
			<div class="rightbar">
				<a href="javascript:;">头条产品</a>
				<a href="javascript:;">侵权投诉</a>
				<a href="javascript:;">反馈</a>
				<a class="active" href="javascript:;">登录</a>
			</div>
		</div>
		<div class="middlebar">
			<div class="center">
				<div class="middleimg"><a href="javascript:;"><img src=images/17.png"></a></div>
				<div class="middleword"><span><a href="javascript:;">首页/娱乐</a></span><b>/正文</b></div>
				<div class="search"><input id="every" type="text" value="大家都在搜，何洁被记者追问"><div class="anniu">搜索</div></div>
			</div>
		</div>
		<div class="contain">
			<div class="space"><div class="icon">
				<a href="javascript:;"><img src="images/18.png"><span>628</span></a></div>
			<div class="hr"></div>
			<div class="iconweixin"><a href="javascript:;"><img src="images/19.png"><span>微博</span></a></div>
			<div class="iconweixin"><a href="javascript:;"><img src="images/20.png"><span>Qzone</span></a></div>
			<div class="iconweixin"><a href="javascript:;"><img src="images/21.png"><span>微信</span></a></div>
			</div>
			<div class="indexmiddle">
				<h2><%=newsinfo.newstitle%></h2>
				<div class="sub"><span class="create">原创</span>
					<span><%=newsinfo.newssource%></span>
					<span>2017-12-27 16:16:35</span></div>
				<div class="article">
					<p>12月27日，十二届全国人大常委会第三十一次会议审议通过了关于个别代表的代表资格的报告，陈祥恩和张阳两人的全国人大代表资格终止。</p>
					<p>由解放军选出的第十二届全国人民代表大会代表、中华人民共和国中央军事委员会委员、中共中央军事委员会原委员、中央军委政治工作部原主任张阳，于2017年11月23日自缢死亡。张阳的代表资格自然终止。</p>
					<img class="leader" src="<%=newsinfo.newsurl%>">
					<p>新华社11月28日消息，2017年8月28日，经党中央批准，中央军委决定对中华人民共和国中央军事委员会委员、中共中央军事委员会原委员、中央军委政治工作部原主任张阳进行组织谈话，调查核实其涉郭伯雄、徐才厚等案问题线索。</p>
					<p>经调查核实，张阳严重违纪违法，涉嫌行贿受贿、巨额财产来源不明犯罪。接受组织谈话期间，张阳一直在家中居住。</p>
					<p>11月23日上午，张阳在家中自缢死亡。</p>
					<p>11月29日《解放军报》头版，发表评论文章《以永远在路上的坚韧和执着深入推进反腐败斗争》。文中称，张阳身为党和军队的高级干部，丧失理想信念、丧失党性原则、丧失法纪敬畏、丧失道德底线，台上台下两种表现，人前人后两副面孔，嘴上喊忠诚、背后搞贪腐，是典型的“两面人”。其所作所为严重玷污了党的形象，玷污了军队的形象，玷污了政治工作的形象，玷污了领导干部的形象，给党和军队事业造成严重危害。</p>
					<p>文章称，对张阳进行组织谈话，调查核实他的涉案问题，是全面彻底肃清郭伯雄、徐才厚流毒影响工作的重要组成部分，是深入推进党风廉政建设和反腐败斗争的重要举措，是纯洁党的肌体、纯洁部队、纯洁高级干部队伍的必然要求，充分彰显了我们党全面从严治党、全面从严治军的鲜明态度和坚定决心。在接受组织谈话期间，张阳畏罪自杀，以自杀手段逃避党纪国法惩处，行径极其恶劣。</p>
					<p>11月30日下午，国防部举行11月例行记者会，国防部新闻局局长、国防部新闻发言人吴谦回应“张阳犯罪事实以后如何处理”时表示：有关情况媒体已经做了报道，我强调一下，中国军队始终坚持依法治军、从严治军，坚持无禁区、全覆盖、零容忍，坚持重遏制、强高压、强震慑，坚决清除一切侵蚀军队健康躯体的病毒，为实现党在新时代的强军目标、全面建成世界一流军队提供坚强的政治保证。</p>
				</div>
				<div class="boxTag">
					<ul>
					<li><img src="images/48.png" ><a href="javascript:;">徐才厚</a></li>
					<li><a href="javascript:;">郭伯雄</a></li>
					<li><a href="javascript:;">政治</a></li>
					<li><a href="javascript:;">反腐倡廉</a></li>
					<li><a href="javascript:;">时政</a></li>
				</ul>
				<div class="collect"><div class="collectleft"><a href="javascript:;"><img src="images/49.png">收藏</a></div>
				<div class="collectright"><a href="javascript:;" ><img src="images/50.png" >举报</a></div>
				</div>
				</div>
				<div class="imglist"><img src="images/51.png"></div>
				<div class="talking">
					<div class="saveheader"><em>230&nbsp;</em>条评论</div>
					<div class="inputbox">
						<img src="images/52.png">
						<input type="text" value="请留下你的评论" name="talk">
						<a class="comment" href="javascript:;">评论</a>
					</div>
					<ul class="talklist">
						<li><a class="icon" href="javascript:;"><img src="images/53.png" ></a>
							<div class="content">
								<div class="warsolider"><a href="javascript:;" class="solider">铁骑兵8</a> <span>3小时前</span></div>
							</div>
							<p class="fail">军中败类</p>
							<div class="footaction">
								<span class="replay">回复</span>
								<span class="num" >&nbsp; ⋅ 3条回复</span>
								<span class="delete"><img src="images/55.png"> </span>
								<span class="good">728<img src="images/54.png"> </span>
							</div>
						</li>
						<li><a class="icon" href="javascript:;"><img src="../public/images/144.jpg" ></a>
							<div class="content">
								<div class="warsolider"><a href="javascript:;" class="solider">铁骑兵8</a> <span>11小时前</span></div>
							</div>
							<p class="fail">拐卖人口不去管，网贷不去管，高利贷不去管，银行出假钱不去管，钱放银行失踪了不去管就知道窝里横！</p>
							<div class="footaction">
								<span class="replay">回复</span>
								<span class="num" >&nbsp; ⋅ 3条回复</span>
								<span class="delete"><img src="images/55.png"> </span>
								<span class="good">728<img src="images/54.png"> </span>
							</div>
						</li>
						<li><a class="icon" href="javascript:;"><img src="images/145.jpg" ></a>
							<div class="content">
								<div class="warsolider"><a href="javascript:;" class="solider">铁骑兵8</a> <span>4小时前</span></div>
							</div>
							<p class="fail">反对银行，支持马云</p>
							<div class="footaction">
								<span class="replay">回复</span>
								<span class="num" >&nbsp; ⋅ 3条回复</span>
								<span class="delete"><img src="images/55.png"> </span>
								<span class="good">728<img src="images/54.png"> </span>
							</div>
						</li>
						<li><a class="icon" href="javascript:;"><img src="images/146.jpg" ></a>
							<div class="content">
								<div class="warsolider"><a href="javascript:;" class="solider">铁骑兵8</a> <span>8小时前</span></div>
							</div>
							<p class="fail">我是不相信银行的安全性，银行存款，需要本人提取的那种，都能丢，让人怎么相信？而且态度极差，出事后，各种推诿。像＂离柜后概不负责＂这种霸王条款，让老百姓痛恨的规定，让我们怎么相信银行呢？</p>
							<div class="footaction">
								<span class="replay">回复</span>
								<span class="num" >&nbsp; ⋅ 3条回复</span>
								<span class="delete"><img src="images/55.png"> </span>
								<span class="good">728<img src="images/54.png"> </span>
							</div>
						</li>
						<li><a class="icon" href="javascript:;"><img src="images/53.png" ></a>
							<div class="content">
								<div class="warsolider"><a href="javascript:;" class="solider">铁骑兵8</a> <span>3小时前</span></div>
							</div>
							<p class="fail">全国人民团结起来，支持支付宝和微信出行又方便，又不担心用到假币</p>
							<div class="footaction">
								<span class="replay">回复</span>
								<span class="num" >&nbsp; ⋅ 3条回复</span>
								<span class="delete"><img src="images/55.png"> </span>
								<span class="good">728<img src="images/54.png"> </span>
							</div>
						</li>
					</ul>
					<a href="javascript:;" class="loadmore">查看更多评论</a>
					<div class="detailmore">
						<span class="commened"></span><h3>相关推荐</h3>
						<ul class="newsmore">
							<li><div class="imgbox"><a href="javascript:;"><img src="images/135.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">重磅：马云支付宝放大招，芝麻信用分650以上值钱了，用户沸腾！</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots">黔农人老刘 ⋅  218评论 ⋅ </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
							<li><div class="imgbox"><a href="javascript:;"><img src="images/142.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">微信支付宝完成这几个设置，别人偷不走你一毛钱！</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots">苹果恢复大师 ⋅  164评论 ⋅ </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
							<li><div class="imgbox"><a href="javascript:;"><img src="images/137.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">
										喜出望外，支付宝宣布重大消息：告别手机的时代已经来临啦！</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots"> 极客时间线 ⋅  327评论 ⋅  </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
							<li><div class="imgbox"><a href="javascript:;"><img src="images/138.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">好消息！腾讯的微信支付开始砸钱了，快来看看怎么领微信现金红包</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots">雨韩 ⋅  3940评论 ⋅   </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
							<li><div class="imgbox"><a href="javascript:;"><img src="images/139.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">微信宣布提现免费，马云的支付宝10亿红包到底改变了什么？</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots">创业那点事 ⋅  445评论 ⋅  </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
							<li><div class="imgbox"><a href="javascript:;"><img src="images/140.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">支付宝申请了一个三块钱的商家码，需要定期向支付宝缴纳费用吗？！</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots">悟空问答 ⋅   </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
							<li><div class="imgbox"><a href="javascript:;"><img src="images/143.jpg"></a>
							</div>
								<div class="newstext">
									<a href="javascript:;" class="star">腾讯大批封号，网友直呼马云：你该出手了，听听马云怎么说</a>
									<div class="footbar">
										<a class="footbar-img" href="javascript:;"><img src="images/136.jpg"></a>
										<a class="footbar-talk" href="javascript:;"><span class="foots">百家说说看 ⋅  3140评论 ⋅  </span></a>
										<span class="relevant">相关</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="rightmoudle">
				<div class="pannel">
				<div class="userlogo"><a href="javascript:;"><img src="images/125.jpg"></a></div>
					<div class="usercard"><h4>谈古论今之际</h4>
					<a class="notice" href="javascript:;">关注</a>
					</div>
					<ul class="articlelist">
						<li><a href="javascript:;">朱棣派他采黄金，他却在此建立国家，如今富到六亲不认，就认中国</a></li>
						<li><a href="javascript:;">中国汉奸儿子当一国领导人，为10亿援助与中国断交，如今后悔不已</a></li>
						<li><a href="javascript:;">日本军国高清图集，狂热到可怕</a></li>
						<li><a href="javascript:;">父子两人被判凌迟，儿子5岁割不到3600刀，皇帝怒言养肥在动刀</a></li>
					</ul>
				</div>
				<div class="rightimg">
					<a href="javascript:;"><img src="images/126.jpg"></a>
					<p>广告</p>
				</div>
				<div class="panelist">
					<h3>热门搜索排行</h3>
					<a href="javascript:;"><i style="color: #f85959">1</i><span>菲律宾车辆坠悬崖</span></a>
					<a href="javascript:;"><i style="color: #ff7800">2</i><span>花呗套现案宣判</span></a>
					<a href="javascript:;"><i style="color: #ffba00">3</i><span>网友偶遇周杰伦</span></a>
					<a href="javascript:;"><i>4</i><span>腾讯电脑管家致歉</span></a>
					<a href="javascript:;"><i>5</i><span>票房最高演员公布</span></a>
					<a href="javascript:;"><i>6</i><span>爸爸把女儿装画框</span></a>
					<a href="javascript:;"><i>7</i><span>周冬雨助力公益</span></a>
					<a href="javascript:;"><i>8</i><span>富二代死缓期伤人</span></a>
					<a href="javascript:;"><i>9</i><span>马苏扮杨贵妃惊艳</span></a>
					<a href="javascript:;"><i>10</i><span>马蓉喊话王宝强</span></a>
				</div>
				<div class="replace">
					<a href="javascript:;"><img src=images/2.webp"> </a>
				</div>
				<div class="movielist">
					<h3>热门视频</h3>
					<ul>
						<li><a href="javascript:;"><div class="text">
							<p>董事长扮女大学生应聘，却被经理索要红包，一怒之下</p>
							<span>54万次播放 ⋅ 385评论</span>
						</div>
							<div class="imgbox"><img src="/images/56.png"></div></a></li>
						<li><a href="javascript:;"><div class="text">
							<p>男友抠出新境界 车一快没油了就让女友开2天 涂磊都</p>
							<span>54万次播放 ⋅ 385评论</span>
						</div>
							<div class="imgbox"><img src="images/57.png"></div></a></li>
						<li><a href="javascript:;"><div class="text">
							<p>旅馆暖被窝服务真周到，档次不同价格不同，老板娘</p>
							<span>54万次播放 ⋅ 385评论</span>
						</div>
							<div class="imgbox"><img src="images/58.png"></div></a></li>
						<li><a href="javascript:;"><div class="text">
							<p>可口可乐的这个设计真的太可爱了 这是给女生特制的</p>
							<span>54万次播放 ⋅ 385评论</span>
						</div>
							<div class="imgbox"><img src="images/59.png"></div></a></li>
						<li><a href="javascript:;"><div class="text">
							<p>啥也不说了，考过驾照的人看完都笑了！</p>
							<span>54万次播放 ⋅ 385评论</span>
						</div>
							<div class="imgbox"><img src="images/60.png"></div></a></li>
						<li><a href="javascript:;"><div class="text">
							<p>周云鹏奉献小品脱口秀，宋小宝台下笑的声音最大，观</p>
							<span>54万次播放 ⋅ 385评论</span>
						</div>
							<div class="imgbox"><img src="images/61.png"></div></a></li>
					</ul>
				</div>
				<div class="rightimg">
					<a href="javascript:;"><img src="images/126.jpg"></a>
					<p>广告</p>
				</div>
				<div class="beatyimg">
					<h3>精彩图片</h3>
					<ul>
						<li><a><div class="imgbox"><img src="images/127.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/128.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/129.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/130.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/131.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/132.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/133.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
						<li><a><div class="imgbox"><img src="images/134.jpg"></div></a>
							<p>三次申请信用卡被拒，中介却一次申请成功，</p></li>
					</ul>
				</div>
				<div class="rightimg">
					<a href="javascript:;"><img src="images/126.jpg"></a>
					<p>广告</p>
				</div>
			</div>
		</div>
	</body>
</html>
