*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.banner{
    width: 100%;
    height: 1000px;
    position: relative;
    .loginwrap{
        display: inline-block;
        width: 110px;
        height: 27px;
        position: absolute;
        left: 20px;
        top: 20px;
        img{
            width: 100%;
        }
    }
    .slowwrap{
        position: absolute;
        left: 50%;
        margin-left: -275px;
        top: 10px;
        width: 550px;
        height: 385px;
        img{
            width: 100%;
        }
    }
    .loginbox{
        position: absolute;
        top: 230px;
        left: 50%;
        margin-left: -200px;
        width: 300px;
        padding: 28px 50px 38px;
        background-color: rgba(255,255,255,.9);
        input{
            font-size: 16px;
            color: #666;
        }
       input[name='username']{
            width: 300px;
            height: 42px;
            padding: 4px 8px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }
      #checkphone{
        color: red;
        position: absolute;
        left: 49px;
        top: 69px;
        display: none;
      }
      input[name='userpass']{
        width: 300px;
        height: 42px;
        padding: 4px 8px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
      }
      #checkpass{
        color: red;
        position: absolute;
        top: 142px;
        display: none;
      }
      #checkemail{
        color: red;
        position: absolute;
        top: 286px;
        display: none;
      }
      input[name='email']{
        width: 300px;
        height: 42px;
        padding: 4px 8px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
      }
      input[name='useragain']{
        width: 300px;
        height: 42px;
        padding: 4px 8px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
      }
      #checkagain{
        color: red;
        position: absolute;
        top: 214px;
        display: none;
      }
       input[name='check']{
            width: 300px;
            height: 42px;
            padding: 4px 8px;
            border: 1px solid #ddd;
        }
          input[name='phonecheck']{
            width: 300px;
            height: 42px;
            margin-top: 10px;
            padding: 4px 8px;
            border: 1px solid #ddd;
        }
        span{
            font-size: 13px;
            display: inline-block;
            margin-top: 10px;
           a{
               color: #222222;
               b{
                color: #406599;
            }
           }
         
        }
        input[type='submit']{
            width: 300px;
            height: 42px;
            background: #f85959;
            text-align: center;
            line-height: 42px;
            color: white;
            border: none;
            margin-bottom: 40px;
            margin-top: 20px;
            cursor: pointer;
            &:hover{
                opacity: .8;
            }
        }
        .titleimg{
            width: 50px;
            float: left;
            margin-left: 18px;
            margin-right: 7px;
            .zhanghao{
                text-align: center;
                    img{
                        width: 40px;
                        &:hover{
                            opacity: .8;
                        }
                    }
            }
            .acount{
                color: #505050;
                font-size: 10px;
                p{
                    text-align: center;
                    margin-left: -10px;
                }
            }
        }
    }
}
